@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #000000;
    color: white;
    overflow-x: hidden;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    margin-right: 0;
    background: rgba(170, 118, 255, 0.15);
    backdrop-filter: blur(20px);
    border-right: 1px solid rgba(170, 118, 255, 0.2);
    z-index: 1000;
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-content {
    padding: 1rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    border-left: 3px solid transparent;
}

.sidebar-item:hover,
.sidebar-item.active {
    background: rgba(170, 118, 255, 0.1);
    color: #AA76FF;
    border-left-color: #AA76FF;
}

.sidebar-icon1 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image: url(../storage/img/user_avatar.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon2 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image: url(../storage/img/home.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon3 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/animacion.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon4 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/comedy.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon5 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/drama.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon6 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/horror.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon7 {
    width: 24px;
    height: 24px;
    min-width: 24px;
                background-image:url(../storage/img/Sci-fi.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon8 {
    width: 24px;
    height: 24px;
    min-width: 24px;
                background-image:url(../storage/img/thriller.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon9 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/romance.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon10 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/fantasy.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}


.sidebar-icon12 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/documentary.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon13 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/crime.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon14 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/family.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon15 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/little_mystery.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon16 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/war.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon17 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/west.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon18 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/music.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon19 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    background-image:url(../storage/img/history.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon20 {
    width: 24px;
    height: 24px;
    min-width: 24px;
                background-image:url(../storage/img/settings.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}

.sidebar-icon21 {
    width: 24px;
    height: 24px;
    min-width: 24px;
                background-image:url(../storage/img/logout.png);
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-size: cover;
    background-position: center;
}


.sidebar-label {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-label {
    opacity: 1;
}

.sidebar-spacer {
    flex: 1;
}

/* Main Content */
.main-content {
    margin-left: 60px;
    min-height: 100vh;
    padding: 0;
}


/* Logo KarenFlix en esquina */
.karenflix-logo {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 580px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #AA76FF;
    z-index: 100;
    background-image: url('../storage/img/karenflix_logo.png');
    background-size: cover;
    background-position: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
        width: 250px;
    }

    .main-content {
        margin-left: 0;
    }

    .header-content {
        flex-direction: column;
        gap: 1rem;
    }

    .search-section {
        margin: 0;
        max-width: none;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-meta {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .hero-actions {
        flex-direction: column;
    }

    .karenflix-logo {
        position: static;
        width: 60px;
        height: 60px;
        margin-bottom: 1rem;
    }

    .movies-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;
    }

    .movie-poster {
        height: 220px;
    }
}

/* Mobile Menu Button */
.mobile-menu-btn {
    display: none;
    background: rgba(170, 118, 255, 0.2);
    border: 1px solid rgba(170, 118, 255, 0.3);
    color: #AA76FF;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile-menu-btn {
        display: block;
    }
}